.expressive-code .frame {
  @apply !shadow-none;
  position: relative;
  padding-top: 2rem;
}

/* Mac-style window dots */
.expressive-code .frame::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0.6rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff5f57;
  box-shadow: 16px 0 0 #febc2e, 32px 0 0 #28c840;
  z-index: 10;
}
