---
import type { MarkdownHeading } from "astro";

import Profile from "./Profile.astro";
import VideoDecoration from "./VideoDecoration.astro";
import CategoryList from "./CategoryList.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
        <CategoryList></CategoryList>
        <VideoDecoration></VideoDecoration>
        <VideoDecoration src="https://storage.googleapis.com/creatorspace-public/users%2Fcm69rcp2205nuql01acfbyq0v%2FTlwJJ9PYru1FUZp2-users-clcz2miii0lh1po0ygpf2tnmn-gLkc9Qtf8G0YLE8p-city_3913.mp4"></VideoDecoration>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
    </div>
</div>
